*{
  margin: 0;
  padding: 0;
  background: linear-gradient(243.86deg, rgba(70, 11, 32, 0.97) 6.29%, rgba(32, 10, 43, 0.69) 99.55%);
box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
border-radius: 50px;
}

.sha{
  background: linear-gradient(140.55deg, #301758 9.72%, #301658 73.59%);
opacity: 0.1;
filter: blur(59.377px);
transform: matrix(-1, 0, 0, 1, 0, 0);
}

